@import url('https://rsms.me/inter/inter.css');

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

	font-feature-settings: 'liga' 1, 'calt' 1;
	-webkit-font-feature-settings: 'liga' 1, 'calt' 1;
	-ms-font-feature-settings: 'liga' 1, 'calt' 1;
	-moz-font-feature-settings: 'liga' 1, 'calt' 1;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	background-color: #151515;
	color: #ffffff;
}

.fixed-width-num {
	font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
	-webkit-font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
	-ms-font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
	-moz-font-feature-settings: 'liga' 1, 'calt' 1, 'tnum' 1;
	letter-spacing: -.05em;
}

@supports (font-variation-settings: normal) {
	body {
		font-family: 'Inter var', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

/*
 * HACK: fix content in dialogs being cut off
 */
.MuiDialogContent-root {
	overflow-y: visible !important;
}
