.player {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
}

.player-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
	overflow: hidden;
}
.player-wrapper.hide-cursor {
	cursor: none;
}

.player-wrapper video {
	outline: none !important;
}

.pause-shade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 10;

	padding-left: 75px;

	pointer-events: none;

	display: flex;
	flex-direction: column;
	justify-content: center;

	background-color: rgba(0,0,0,.8);
	font-size: 5em;
	font-weight: 700;

	transition: all .1s ease-out;
	transition-delay: 0s;
	opacity: 0;
	transform: scale(1.2);
	filter: blur(3px);
	will-change: opacity, filter, transform;
}
.pause-shade.visible {
	transition-delay: 2s;
	opacity: 1;
	transform: none;
	filter: none;
}
.pause-shade > .games {
	font-size: .35em;
	font-weight: 250;
}
.pause-shade > .games > span[data-current="true"] {
	font-weight: 500;
}
.pause-shade > .games > span:not(:last-child):after {
	content: ", ";
	font-weight: 250;
}

.video-controls {
	position: absolute;
	padding-top: 90px;
	z-index: 20;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0, 0, 0, .9) 0%, rgba(0,0,0,.0) 100%);

	transition: .5s opacity ease-in-out;
	opacity: 0;
}
.video-controls.visible {
	transition: none;
	opacity: 1;
}

.video-controls .controls-row {
	display: flex;
	align-items: center;
}

.video-controls .controls-row.information {
	justify-content: space-between;
	align-items: flex-end;
}
.video-controls .controls-row.information .duration {
	margin-left: 50px;
	white-space: nowrap;
}
.video-controls .controls-row.information .view-count {
	margin-right: 25px;
	font-size: 1.35em;
}

.video-controls .volume-controls {
	display: flex;
	width: 200px;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.player {
		flex-direction: column;
	}

	.sidebar {
		width: auto !important;
	}

	.player-wrapper {
		overflow: visible !important;
		height: auto !important;
	}
	.player-wrapper > div, .player-wrapper > div > div {
		height: auto !important;
	}

	.pause-shade {
		display: none;
	}
}

/*
@media only screen and (max-width: 600px) {
	.player {
		flex-direction: column;
	}

	.sidebar {
		width: auto;
	}

	.player > div:first-child {
		height: auto !important;
	}

	video {
		height: auto !important;
	}
}
*/
