.player {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	display: flex;
}

.player-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}
.player-wrapper.hide-cursor {
	cursor: none;
}

.player-wrapper video {
	outline: none !important;
}

.pause-shade {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding-left: 75px;

	z-index: 10;
	pointer-events: none;
	background-color: rgba(0,0,0,.8);
	font-size: 5em;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: center;

	transition: none;
	opacity: 0;
}
.pause-shade.visible {
	transition: 5s opacity ease-in-out 10s;
	opacity: 1;
}
.pause-shade > .games {
	font-size: .35em;
	font-weight: 300;
}
.pause-shade > .games > span[data-current="true"] {
	font-weight: normal;
}
.pause-shade > .games > span:not(:last-child):after {
	content: ", ";
	font-weight: 300;
}

.video-controls {
	position: absolute;
	padding-top: 25px;
	padding-bottom: 10px;
	z-index: 20;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,.0) 100%);

	transition: .5s opacity ease-in-out;
	opacity: 0;
}
.video-controls.visible {
	transition: none;
	opacity: 1;
}

.video-controls .controls-row {
	display: flex;
	align-items: center;
}

.video-controls .duration {
	margin-left: 50px;
	white-space: nowrap;
}

.video-controls .volume-controls {
	display: flex;
	width: 150px;
	margin-left: 20px;
	margin-right: 20px;
	align-items: center;
}

@media only screen and (max-width: 600px) {
	.player {
		flex-direction: column;
	}

	.sidebar {
		width: auto;
	}

	.player > div:first-child {
		height: auto !important;
	}

	video {
		height: auto !important;
	}
}
