.sidebar {
	width: 400px;
	height: 100%;
	overflow-x: hidden;
	padding: 5px;
	padding-right: 0;
	padding-top: 0;

	display: none;
}
.sidebar.visible {
	display: block;
}

.sidebar-chat {
	height: 100%;
	padding-top: 5px;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scroll-snap-type: none;
	overflow-x: hidden;
}
.sidebar-chat.sticky {
	scroll-snap-type: y mandatory;
}

.player-root.clip .sidebar-chat::-webkit-scrollbar {
	display: none;
}

/*
.chat-message {
	font-size: .85em;
	margin-bottom: .35em;
	display: flex;
}
*/
.chat-message {
	font-size: .85em;
}
.chat-message:not(:last-child) {
	margin-bottom: .55em;
}

.chat-message.resub,
.chat-message.sub,
.chat-message.subscription,
.chat-message.subgift,
.chat-message.submysterygift {
	background-color: #242424;
	/* border: 1px gold solid; */
	/* border-left: none; */
	/* border-right: none; */
}

.chat-message.vip {
	font-weight: bold;
	padding-left: 5px;
	border-left: 3px #ffd400 solid;
}

.sidebar > div > div:last-child {
	scroll-snap-align: end;
}

.message-author {
	font-size: .8em;
}

.message-timestamp {
	font-size: .8em;
}

/*
.chat-message > .message-timestamp {
	min-width: 40px;
	overflow: hidden;
	max-width: 40px;
	text-overflow: clip;
	white-space: nowrap;
}
*/
.chat-message > .message-timestamp {
	overflow: hidden;
	text-overflow: clip;
	white-space: nowrap;
	display: inline-block;
	color: gray;
}

.chat-message > div {
	/* margin-right: 10px; */
	margin-right: 7px;
}

/*
.message-author {
	min-width: 50px;
	max-width: 50px;
	overflow: hidden;
}
*/
.message-author {
	overflow: hidden;
	display: inline-block;
	background-color: #383838;
	padding-left: 2px;
	padding-right: 2px;
}

.chat-message > .message-icons {
	display: inline-flex;
	gap: 5px;
	align-items: baseline;

	/* margin-left: -5px; */
	margin-left: -2px;
}
.chat-message > .message-icons:empty {
	display: none;
}

.message-icon {
	height: 1.2rem;
	width: auto;
}
.message-icon.prediction {
	margin-left: -2px;
	margin-right: -4px;
}

.message-icon > svg {
	font-size: 1.2em;
}
.message-icon > img {
	width: inherit;
	height: inherit;
}

.chat-message > .message-action {
	display: inline;
	font-size: .75em;
	color: #c5c5c5;
}

.chat-message > .message-content {
	display: inline;
	word-break: break-word;
	hyphens: auto;
}

.chat-message > .message-content > a {
	color: white;
}

.chat-message > .message-content img {
	height: 2rem;
	width: auto;
}
