.video-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;

	padding-left: 10px; /* new */
	padding-right: 10px; /* new */
}

.video-list div.video-flipper {
	width: 100%;
	margin-bottom: 15px;
	border-radius: 15px;
	/* max-width: 600px; */
	/* max-width: calc(100% - 50px); */
	max-width: 725px;
}
.video-list div.video-flipper > a {
	color: #fff;
	text-decoration: none;
}

.video-entry {
	background-color: #222222;
	height: 150px;

	border-radius: 15px;
	overflow: hidden;

	display: flex;
	position: relative;

	box-shadow: 0px 14px 19px -7px rgba(0,0,0,0.5);

	cursor: pointer;
}
/* .video-entry:not(.clicked) { */
/* 	transition: all .2s ease-out; */
/* } */
/* .video-entry:not(.clicked):hover { */
/* 	transform-origin: initial; */
/* 	transform: scale(1.050); */
/* 	box-shadow: 0px 20px 19px -7px rgba(0,0,0,0.5); */
/* } */
.video-entry.animating, .video-entry.clicked {
	z-index: 100;
}
.video-entry.clicked {
	position: fixed;
	top: 100px;
	left: 100px;
	right: 100px;
	bottom: 100px;
	height: auto;
	transition: none;

	padding: 30px;
}

.video-entry.clicked .video-entry-preview {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	max-width: none;
	height: 100%;
	width: 100%;
	/* filter: blur(3px) brightness(0.15); */
	filter: brightness(0.15);
}
.video-entry.clicked .video-entry-preview img {
	/* display: none; */
	object-fit: cover;
}
.video-entry.clicked video {
	object-fit: cover;
}

.video-entry.clicked .video-entry-title {
	font-size: 2.6em !important;
}

.video-entry.clicked svg {
	z-index: 10;
	height: 100%;
	width: 60px;
}

.video-entry-preview {
	position: relative;
	height: 100%;
	min-width: 265px;
	max-width: 265px;
	z-index: 2;
}

.video-entry-preview > video {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 10;
}

.video-entry-preview > img {
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 0;

	opacity: 1; /* start visible by default */
}

.video-entry-information {
	flex-grow: 1;
	height: 100%;
	padding: 10px;
	z-index: 2;
	flex-wrap: wrap;
	overflow: hidden;

	position: relative;

	display: grid;
	grid-template-columns: 1fr repeat(2, 1.5fr);
	grid-template-rows: repeat(6, 1fr);
	grid-column-gap: 5px;
	grid-row-gap: 5px;
}

.video-entry-title { grid-area: 1 / 1 / 2 / 4; }
.video-entry-date { grid-area: 2 / 1 / 3 / 4; }
.video-entry-duration { grid-area: 3 / 1 / 4 / 2; }
.video-entry-games { grid-area: 3 / 2 / 5 / 4; }
.video-entry-persons { grid-area: 5 / 1 / 7 / 4; }

.video-entry-information.expanded {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(5, 1fr);
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}
.video-entry-information.expanded .video-entry-title { grid-area: 1 / 1 / 2 / 4; }

.video-entry-information.expanded .video-entry-date { grid-area: 2 / 1 / 3 / 4; }
.video-entry-information.expanded .video-entry-date:before { content: "Datum: "; }

.video-entry-information.expanded .video-entry-duration { grid-area: 3 / 1 / 4 / 2; }
.video-entry-information.expanded .video-entry-duration:before { content: "Lengte: "; }

.video-entry-information.expanded .video-entry-size { grid-area: 4 / 1 / 5 / 2; }
.video-entry-information.expanded .video-entry-size:before { content: "Grootte: "; }

.video-entry-information.expanded .video-entry-persons { grid-area: 5 / 1 / 6 / 4; }
.video-entry-information.expanded .video-entry-persons:before { content: "Personen in deze stream: "; }

.video-entry-information.expanded .video-entry-addeddate { grid-area: 3 / 2 / 4 / 4; }
.video-entry-information.expanded .video-entry-addeddate:before { content: "Toegevoegd op: "; }

.video-entry-information.expanded .video-entry-games { grid-area: 4 / 2 / 5 / 4; }
.video-entry-information.expanded .video-entry-games:before { content: "Games in deze stream: "; }

.video-entry-title {
	/* font-size: 2em; */
	width: 100%;

	white-space: nowrap;
	text-overflow: ellipsis;
	/* overflow: hidden; */
}
.video-entry.clicked .video-entry-title {
	white-space: normal;
}
/*
.video-entry-title.long {
	animation: floatText 15s infinite linear;
	padding-left: 100%;
}
*/
.video-list div.video-flipper:hover .video-entry-title {
	animation-play-state: paused;
}
.video-entry-date {
	margin-top: -10px;
	font-size: .9em;
}

@keyframes floatText {
	to {
		transform: translateX(-100%);
	}
}

.video-entry-thumbnails {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: flex;
	flex-wrap: nowrap;
}

.video-entry-blur {
	z-index: 1;
	backdrop-filter: blur(3px);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(25, 25, 25, .90);
}

.video-entry-thumbnail {
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: center;
}

.video-entry-progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 100%;
	z-index: -1;
	background-color: hsl(0deg 0% 21%);
}

.video-list-wrapper hr {
	margin: 25px;
	border: none;
}
.video-list-wrapper h1 {
	text-align: center;
	font-weight: 450;
}

.video-list.in-progress {
	flex-wrap: nowrap;
	overflow-x: scroll;
	overflow-y: hidden;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: unset;
}
.video-list.in-progress::-webkit-scrollbar {
	display: none;
}
.video-list.in-progress .video-flipper {
	margin-left: 15px;
	margin-right: 15px;
	flex-shrink: 0;
	flex-grow: 0;
}

@media only screen and (max-width: 600px) {
	.video-entry {
		height: auto;
		flex-flow: column;
	}

	.video-list.in-progress .video-flipper {
		height: 400px;
	}

	.video-list.in-progress .video-flipper .video-entry {
		height: 100%;
	}

	/*
	.video-list div.video-flipper:hover {
		transform: none;
		box-shadow: 0px 20px 19px -7px rgba(0,0,0,0.5);
	}
	*/

	.video-entry-information {
		grid-template-rows: none;
		margin-top: -20px;
	}

	.video-entry-title {
		white-space: normal;
	}

	.video-entry-preview {
		min-width: initial;
		max-width: initial;

		min-height: 220px;
	}

	.video-entry-preview > video {
		display: none !important;
	}

	.video-entry-preview > img {
		height: auto;
	}
}
